<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panshicloud.base.dao.mapper.GenerateTableMapper">

    <delete id="delete">
        drop table ${tableName}
    </delete>

    <update id="rename">
        rename
            table
            ${tableName}
                to
                ${toTableName}
    </update>

    <select id="isExist" parameterType="String" resultType="Integer" databaseId="oracle">
        SELECT COUNT(*)
        FROM User_Tables
        WHERE table_name = UPPER('${tableName}')
    </select>

    <select id="isExist" parameterType="String" resultType="Integer" databaseId="mysql">
        SELECT COUNT(*)
        FROM information_schema.TABLES
        WHERE table_name = '${tableName}'
    </select>

    <select id="isExist" parameterType="String" resultType="Integer" databaseId="gauss">
        SELECT COUNT(*)
        FROM pg_tables
        WHERE tablename = LOWER('${tableName}')
    </select>

    <select id="isFieldExist" resultType="java.lang.Integer" databaseId="oracle">
        SELECT COUNT(*)
        from all_col_comments
        WHERE table_name = UPPER('${tableName}')
          AND owner = UPPER('${tableSpace}')
          AND column_name = UPPER('${field}')
    </select>

    <select id="isFieldExist" resultType="java.lang.Integer" databaseId="mysql">
        SELECT COUNT(*)
        from information_schema.COLUMNS
        WHERE table_name = '${tableName}'
          AND table_schema = '${tableSpace}'
          AND column_name = '${field}'
    </select>

    <select id="isFieldExist" resultType="java.lang.Integer" databaseId="gauss">
        SELECT COUNT(*)
        from information_schema.columns
        WHERE table_name = LOWER('${tableName}')
          AND table_schema = LOWER('${tableSpace}')
          AND column_name = LOWER('${field}')
    </select>

    <select id="findField" resultType="java.util.List" databaseId="oracle">
        SELECT column_name
        from all_col_comments
        WHERE table_name = UPPER('${tableName}')
          AND owner = UPPER('${tableSpace}')
    </select>

    <select id="findField" resultType="java.util.List" databaseId="mysql">
        SELECT column_name
        from information_schema.COLUMNS
        WHERE table_name = '${tableName}'
          AND table_schema = '${tableSpace}'
    </select>

    <select id="findField" resultType="java.util.List" databaseId="gauss">
        SELECT column_name
        from information_schema.columns
        WHERE table_name = LOWER('${tableName}')
          AND table_schema = LOWER('${tableSpace}')
    </select>

    <select id="createIndex">
        CREATE
        <if test="indexType==1 and indexType!='' and indexType!=null">
            UNIQUE
        </if>
        INDEX ${indexName} ON ${tableName}(${columnList})
    </select>

    <delete id="deleteIndex">
        drop INDEX ${indexName}
    </delete>

    <select id="findIndex" resultType="java.lang.String" databaseId="oracle">
        select index_name
        from user_indexes
        where table_name = UPPER('${tableName}')
    </select>

    <select id="findIndex" resultType="java.lang.String" databaseId="mysql">
        select index_name
        from information_schema.statistics
        where table_name = '${tableName}'
          and table_schema = '${tableSpace}'
    </select>

    <select id="findIndex" resultType="java.lang.String" databaseId="gauss">
        select indexname
        from pg_indexes
        where tablename = LOWER('${tableName}')
          and schemaname = LOWER('${tableSpace}')
    </select>

    <select id="findFieldAndComments" resultType="com.panshicloud.base.dao.dos.FieldCommentDo" databaseId="oracle">
        SELECT column_name as field, comments
        from all_col_comments
        WHERE table_name = UPPER('${tableName}')
          AND owner = UPPER('${tableSpace}')
    </select>

    <select id="findFieldAndComments" resultType="com.panshicloud.base.dao.dos.FieldCommentDo" databaseId="mysql">
        SELECT column_name as field, column_comment as comments
        from information_schema.columns
        WHERE table_name = '${tableName}'
          AND table_schema = '${tableSpace}'
    </select>

    <select id="findFieldAndComments" resultType="com.panshicloud.base.dao.dos.FieldCommentDo" databaseId="gauss">
        SELECT c.column_name AS field,
               d.description AS comments
        FROM information_schema.columns c
                 LEFT JOIN
             pg_description d
             ON
                 d.objoid = (c.table_schema || '.' || c.table_name)::regclass::oid
    AND d.objsubid = c.ordinal_position
        WHERE
            c.table_name = LOWER('${tableName}')
          AND c.table_schema = LOWER('${tableSpace}');
    </select>

    <select id="findTableStructure" resultType="java.lang.String">
        SELECT dbms_metadata.get_ddl('TABLE', UPPER('${tableName}'), UPPER('${tableSpace}'))
        from dual
    </select>

    <select id="findAllTable" resultType="java.util.Map" databaseId="oracle">
        SELECT table_name, comments
        from all_tab_comments
        WHERE owner = UPPER('${tableSpace}')
    </select>

    <select id="findAllTable" resultType="java.util.Map" databaseId="mysql">
        SELECT table_name, comments
        from information_schema.TABLES
        WHERE table_schema = '${tableSpace}'
    </select>

    <select id="findAllTable" resultType="java.util.Map" databaseId="gauss">
        SELECT c.relname     AS table_name,
               d.description AS comments
        FROM pg_class c
                 JOIN
             pg_namespace n ON n.oid = c.relnamespace
                 LEFT JOIN
             pg_description d ON d.objoid = c.oid AND d.objsubid = 0
        WHERE c.relkind = 'r'
          AND n.nspname = LOWER('${tableSpace}');
    </select>

    <select id="isNullField" resultType="java.lang.Integer">
        SELECT COUNT(*)
        from ${tableName}
        WHERE ${field} is null
    </select>

    <update id="generate" databaseId="oracle">
        CREATE TABLE ${tableName} (
        <foreach collection="list" item="field">
            <include refid="fieldInfo"/>
            ,
        </foreach>
        <foreach collection="list" item="item">
            <if test="item.isPrimaryKey == 1">
                CONSTRAINT "${tableName}_${item.name}" PRIMARY KEY (${item.name})
            </if>
        </foreach>
        )
    </update>

    <update id="generate" databaseId="mysql">
        CREATE TABLE ${tableName} (
        <foreach collection="list" item="field">
            <include refid="fieldInfo"/>
            ,
        </foreach>
        <foreach collection="list" item="item">
            <if test="item.isPrimaryKey == 1">
                PRIMARY KEY (${item.name})
            </if>
        </foreach>
        )
    </update>

    <update id="generate" databaseId="gauss">
        CREATE TABLE ${tableName} (
        <foreach collection="list" item="field">
            <include refid="fieldInfo"/>
            ,
        </foreach>
        <foreach collection="list" item="item">
            <if test="item.isPrimaryKey == 1">
                CONSTRAINT "${tableName}_${item.name}" PRIMARY KEY (${item.name})
            </if>
        </foreach>
        )
    </update>

    <update id="createTable">
        ${sql}
    </update>

    <update id="insertField">
        alter table ${tableName} add (
        <include refid="fieldInfo"/>
        )
    </update>

    <update id="batchInsertField" databaseId="oracle">
        alter table ${tableName}
        <foreach collection="list" item="field">
            add (<include refid="fieldInfo"/>)
        </foreach>
    </update>

    <update id="batchInsertField" databaseId="mysql">
        alter table ${tableName}
        <foreach collection="list" item="field" separator=",">
            add (<include refid="fieldInfo"/>)
        </foreach>
    </update>

    <update id="batchInsertField" databaseId="gauss">
        alter table ${tableName}
        <foreach collection="list" item="field" separator=",">
            add column
            <include refid="fieldInfo"/>
        </foreach>
    </update>

    <update id="deleteField" databaseId="oracle">
        alter table ${tableName}
            drop
        (
            ${fieldName}
        )
    </update>

    <update id="deleteField" databaseId="mysql">
        alter table ${tableName}
            drop
                ${fieldName}
    </update>

    <update id="deleteField" databaseId="gauss">
        alter table ${tableName}
            drop column
                ${fieldName}
    </update>

    <update id="batchDeleteField" databaseId="oracle">
        alter table ${tableName} drop (
        <foreach collection="list" item="fieldName" separator=",">
            ${fieldName}
        </foreach>
        )
    </update>

    <update id="batchDeleteField" databaseId="mysql">
        alter table ${tableName}
        <foreach collection="list" item="fieldName" separator=",">
            drop ${fieldName}
        </foreach>
    </update>

    <update id="batchDeleteField" databaseId="gauss">
        alter table ${tableName}
        <foreach collection="list" item="fieldName" separator=",">
            drop column ${fieldName}
        </foreach>
    </update>

    <update id="renameField">
        alter table ${tableName} rename column ${fieldName} to ${toFieldName}
    </update>

    <update id="generateComment" databaseId="oracle">
        comment
        on column
        ${tableName}
        .
        ${field.name}
        is
        '${field.comment}'
    </update>

    <update id="generateComment" databaseId="mysql">
        alter table ${tableName}
        modify column
        <include refid="fieldInfo"/>
        comment '${field.comment}'
    </update>

    <update id="generateComment" databaseId="gauss">
        comment
        on column
        ${tableName}
        .
        ${field.name}
        is
        '${field.comment}'
    </update>

    <update id="batchGenerateComment" databaseId="oracle">
        <foreach collection="fields" item="field">
            <![CDATA[
            comment
            on column
            ${tableName}
            .
            ${field.name}
            is
            '${field.comment}';
            ]]>
        </foreach>
    </update>

    <update id="batchGenerateComment" databaseId="mysql">
        alter table ${tableName}
        <foreach collection="fields" item="field" separator=",">
            modify column
            <include refid="fieldInfo"/>
            comment '${field.comment}'
        </foreach>
    </update>

    <update id="batchGenerateComment" databaseId="gauss">
        <foreach collection="fields" item="field">
            comment
            on column
            ${tableName}
            .
            ${field.name}
            is
            '${field.comment}';
        </foreach>
    </update>

    <update id="updateField" databaseId="oracle">
        alter table ${tableName}
        modify (<include refid="fieldInfo"/>)
    </update>

    <update id="updateField" databaseId="mysql">
        alter table ${tableName}
        modify
        <include refid="fieldInfo"/>
    </update>

    <update id="updateField" databaseId="gauss">
        alter table ${tableName}
        alter column ${field.name} type
        <choose>
            <when test="field.type == 0">
                varchar(${field.length})
            </when>
            <when test="field.type == 1">
                numeric(11,0)
            </when>
            <when test="field.type == 2">
                numeric(11,2)
            </when>
            <when test="field.type == 3">
                date
            </when>
            <when test="field.type == 4">
                date
            </when>
            <when test="field.type == 5">
                clob
            </when>
        </choose>
        <if test="field.isAllowNull != null">
            ,
            alter column
            <if test="field.isAllowNull == 0">
                set not null
            </if>
            <if test="field.isAllowNull == 1">
                drop not null
            </if>
        </if>
    </update>

    <select id="getTypes" resultType="com.panshicloud.base.dao.dos.FieldTypeDo" databaseId="oracle">
        select COLUMN_NAME as fieldName, DATA_TYPE as type
        from all_tab_columns
        WHERE table_name = UPPER('${tableName}')
          AND owner = UPPER('${tableSpace}')
    </select>

    <select id="getTypes" resultType="com.panshicloud.base.dao.dos.FieldTypeDo" databaseId="mysql">
        select COLUMN_NAME as fieldName, DATA_TYPE as type
        from information_schema.COLUMNS
        WHERE table_name = '${tableName}'
          AND table_schema = '${tableSpace}'
    </select>

    <select id="getTypes" resultType="com.panshicloud.base.dao.dos.FieldTypeDo" databaseId="gauss">
        select column_name as fieldName, udt_name as type
        from information_schema.columns
        WHERE table_name = LOWER('${tableName}')
          AND table_schema = LOWER('${tableSpace}')
    </select>


    <select id="findTableIndex" resultType="com.panshicloud.base.dao.dos.TableIndexDo" databaseId="oracle">
        SELECT table_name, index_name
        FROM all_indexes
        WHERE table_owner = '${tableSpace}'
    </select>

    <sql id="fieldInfo" databaseId="oracle">
        ${field.name}
        <choose>
            <when test="field.type == 0">
                varchar2(${field.length})
            </when>
            <when test="field.type == 1">
                NUMBER(11,0)
            </when>
            <when test="field.type == 2">
                NUMBER(11,2)
            </when>
            <when test="field.type == 3">
                date
            </when>
            <when test="field.type == 4">
                date
            </when>
            <when test="field.type == 5">
                clob
            </when>
        </choose>
        <if test="field.isAllowNull == 0">
            NOT NULL
        </if>
    </sql>

    <sql id="fieldInfo" databaseId="mysql">
        ${field.name}
        <choose>
            <when test="field.type == 0">
                varchar(${field.length})
            </when>
            <when test="field.type == 1">
                int(11)
            </when>
            <when test="field.type == 2">
                double(11,2)
            </when>
            <when test="field.type == 3">
                date
            </when>
            <when test="field.type == 4">
                date
            </when>
            <when test="field.type == 5">
                clob
            </when>
        </choose>
        <if test="field.isAllowNull == 0">
            NOT NULL
        </if>
    </sql>

    <sql id="fieldInfo" databaseId="gauss">
        ${field.name}
        <choose>
            <when test="field.type == 0">
                varchar(${field.length})
            </when>
            <when test="field.type == 1">
                numeric(11,0)
            </when>
            <when test="field.type == 2">
                numeric(11,2)
            </when>
            <when test="field.type == 3">
                date
            </when>
            <when test="field.type == 4">
                date
            </when>
            <when test="field.type == 5">
                clob
            </when>
        </choose>
        <if test="field.isAllowNull == 0">
            NOT NULL
        </if>
    </sql>
</mapper>
