<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panshicloud.base.dao.mapper.QueryIndexTempMapper">

    <insert id="insert">
        INSERT INTO PSC_QUERY_INDEX_TEMP (ID, QUERY_ID, MD5)
        values (SYS_GUID(), #{queryId}, #{md5})
    </insert>

    <insert id="insertBatch">
        INSERT INTO PSC_QUERY_INDEX_TEMP (ID, QUERY_ID,MD5)
        <foreach item="queryId" collection="queryIdList" index="index" separator="union all">
            select
            SYS_GUID(), #{queryId},#{md5}
            from DUAL
        </foreach>
    </insert>

    <select id="truncateTmp">
        truncate table PSC_QUERY_INDEX_TEMP
    </select>

</mapper>
